@import '../../../customizedStyle.scss';

.heading-section {
  background: linear-gradient(to right, $yellow 0%, $light-blue 100%);

  padding: 100px;

  .title {
    font-weight: 900;

    color: $light;

    text-shadow: 0 1px 2px rgba( black, .5);
  }
}
