@import '../../../customizedStyle.scss';

.heading-section {
  background: linear-gradient(to right, $yellow 0%, $light-blue 100%);

  padding: 50px 50px 110px 50px;

  .title {
    font-weight: bold;

    color: $light;

    text-shadow: 0 1px 2px rgba( black, .5);
  }
}

.container {
  max-width: 600px;

  .todo-box {
    padding: 25px;
    margin-top: -60px;

    //border: 1px solid black;
    border-radius: 5px;

    background: $light;

    box-shadow: 0 4px 12px rgba(black, .2);

    .title {
      margin: 0 7px 14px 7px;
    }

    .input {
      border: 1px solid silver;
    }

    .button {
      background-color: $light-blue;
      color: $light;

      font-weight: bold;

      border: none;
      border-radius: 3px;

      i {
        font-size: 1.5em;
      }
    }
  }
}
