<section class="heading-section">
  <h1 class="title is-3 has-text-centered">Todos</h1>
</section>

<div class="container">
  <div class="todo-box">
    <h2 class="title is-6">New To-Do:</h2>

    <form [formGroup]="addNewToDo" (ngSubmit)="onSubmit()">
      <div class="field is-grouped">
        <p class="control is-small is-expanded">
          <input class="input is-small" type="text" formControlName="label" placeholder="Type ToDo text here ...">
        </p>

        <p class="control">
          <button class="button is-small">
            <i class="material-icons">add</i>Add
          </button>
        </p>
      </div>
    </form>
  </div>

  <div class="todos-list">
    <app-todo-item
      *ngFor="let todo of todos;"
      [todo]="todo"
    ></app-todo-item>
  </div>
</div>
